/*--------------------------------------------------------------
# Menu Section
--------------------------------------------------------------*/
.menu {
  .nav-tabs {
    border: 0;
  }

  .nav-link {
    margin: 0 10px;
    padding: 10px 5px;
    transition: 0.3s;
    color: var(--color-secondary);
    border-radius: 0;
    cursor: pointer;
    height: 100%;
    border: 0;
    border-bottom: 2px solid lighten($secondary, 50);

    @media (max-width: 575px) {
      margin: 0 10px;
      padding: 10px 0;
    }

   i {
     padding-right: 15px;
     font-size: 48px;
   }

    h4 {
      font-size: 18px;
      font-weight: 400;
      margin: 0;
      font-family: var(--font-secondary);
      @media (max-width: 575px) {
        font-size: 16px;
      }
    }


    &:hover {
      color: var(--color-primary);
    }


    &.active {
      color: var(--color-primary);
      border-color: var(--color-primary);
    }

  }

  .tab-content {

    .tab-header {
      padding: 30px 0;
      p {
        font-size: 14px;
        text-transform: uppercase;
        color: lighten($secondary, 20);
        margin-bottom: 0;
      }
      h3 {
        font-size: 36px;
        font-weight: 600;
        color: var(--color-primary);
      }
    }

    .menu-item {
      text-align-last: center;

      .menu-img {
        padding: 0 60px;
        margin-bottom: 15px;
      }

      h4 {
        font-size: 22px;
        font-weight: 500;
        color: var(--color-secondary);
        font-family: var(--font-secondary);
        font-weight: 30px;
        margin-bottom: 5px;

      }

      .ingredients {
        font-family: var(--font-secondary);
        color: lighten($secondary, 35);
        margin-bottom: 5px;
      }


      .price {
        font-size: 24px;
        font-weight: 700;
        color: var(--color-primary);
      }
    }

  }
}
