<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGHNG79N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
      <!-- ======= Header ======= -->
      <header id="header" class="header fixed-top d-flex align-items-center">
        <script src ="https://form.jotform.com/static/feedback2.js" type="text/javascript"></script>
        <script type="text/javascript">
            var JFL_250718388238062 = new JotformFeedback({
              formId: '250718388238062',
              base: 'https://form.jotform.com/',
              windowTitle: 'Barking Bear Booking / Information Request',
              backgroundColor: '#776391',
              fontColor: '#FFFFFF',
              type: 'false',
              height: 500,
              width: 700,
              openOnLoad: false
            });
        </script>
        <script src='https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js'></script>
        <script>window.jotformEmbedHandler("iframe[id='250718388238062']", "https://form.jotform.com/")</script>
        <div class="container-fluid d-flex align-items-center justify-content-between">
    
          <a href="index.html" class="logo d-flex align-items-center me-auto">
            <h1 style="display:none;">Barking Bear Petcare & Dog Training</h1>
            <img src="assets/img/BarkingBearTrainingLogo_color.png" height="100%" alt="Barking Bear PetCare and Dog Training Logo">
          </a>
    
          <nav id="navbar" class="navbar">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="boarding.html">Boarding</a></li>
              <li><a href="training.html">Training</a></li>
              <li><a href="hiking.html">Hiking</a></li>
              <li class="dropdown"><a href="#about"><span>About Us</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#testimonials">Testimonials</a></li>
                  <li><a href="#services">Services</a></li>
                  <li><a href="#team">Meet the Family</a></li>
                </ul>
            </ul>
          </nav><!-- navbar -->
    
          <a class="btn-book-with-us lightbox-250718388238062">Book with us</a> <!--TODO: THIS BUTTON NOT WORKING-->
          <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
          <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    
        </div>
      </header><!-- End Header -->