<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGHNG79N"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<header id="header" class="header">
  <div class="container-fluid d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center me-auto">
      <h1 style="display:none;">Barking Bear Petcare & Dog Training</h1>
      <img src="assets/img/BarkingBearTrainingLogo_color.png" alt="Barking Bear PetCare and Dog Training Logo">
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="./boarding.html">Boarding</a></li>
        <li><a href="./training.html">Training</a></li>
        <li class="dropdown"><a href="./hiking.html"><span>Hiking</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="./hiking.html#pack-hikes">Pack Hikes</a></li>
            <li><a href="./hiking.html#training-hikes">Training Hikes</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="./daycare.html"><span>Day Care</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="./daycare.html#day-camp">Day Camp</a></li>
            <li><a href="./daycare.html#day-school">Day School</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="./index.html#why-us"><span>About Us</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="./index.html#why-us">Why Barking Bear</a></li>
            <li><a href="./index.html#testimonials">Testimonials</a></li>
            <li><a href="./index.html#team">Meet the Family</a></li>
          </ul>
        </li>
      </ul>
    </nav><!-- navbar -->

    <a class="btn-book-with-us">Book with us</a> <!--TODO: THIS BUTTON NOT WORKING-->
    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>
</header><!-- End Header -->