<footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-3 d-flex justify-content-around justify-items-around">
        <div class="col-lg-3 col-5 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div>
            <h4>Location</h4>
            <p>
              Kittredge, CO 80457<br>
              Near Lair of the Bear Park
            </p>
          </div>

        </div>

        <div class="col-lg-3 col-5 footer-links d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Contact</h4>
            <p>
              <strong>Phone:</strong><br> (505) 550-8171<br>
              <strong>Email:</strong><br> barkingbearpetcare@gmail.com<br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-5 footer-links d-flex">
          <i class="bi bi-pin-map-fill icon"></i>
          <div>
            <h4>Service Area for Pickup/Dropoff</h4>
            <p>
              Evergreen, Golden, Conifer,<br>
              Arvada, Edgewater, Lakewood,<br>
              Littleton, Englewood,<br>
              Denver Metro (W of Colorado)
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-5 footer-links">
          <h4>Follow Us</h4>
          <div class="social-links d-flex">
            <a href="https://www.instagram.com/barkingbear_co/" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://www.instagram.com/barkingbear_co/" class="link-text">@barkingbear_co</a>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Barking Bear Pet Care</span></strong>. All Rights Reserved
      </div>
      
    </div>

  </footer>  <!-- End Footer -->